@import "bourbon";



$main_text_color: #8b8b8b;
$main_title_color: #373a3f;

$main_color : #4d81ee;

$main_font: 'OpenSans', sans-serif;
$bold_font: 'OpenSans-Bold', sans-serif;
$title_font: 'Webnar-Bold', sans-serif;